[include]
    path = .gitconfig.local
[core]
    pager = "lv -c"
    quotepath = false
    excludesfile = /Users/sho-h/.gitignore
[alias]
    st = status
    ci = commit
    d  = diff
    checkotu = checkout
    # c.f. http://qiita.com/daimatz/items/f8c27d37052e2e573504
    # usage: $ git ignore osx linux ruby > .gitignore
    #        $ git ignore help
    ignore = !"f() { local s=$1; shift; \
      while [ $# -gt 0 ]; do s=\"$s,$1\"; shift; done;\
      curl \"https://www.gitignore.io/api/$s\"; }; f"
    lol  = --graph --decorate --abbrev-commit --pretty=oneline
    lola = --graph --decorate --abbrev-commit --all --pretty=oneline
[diff]
    renames = copies
[pager]
	branch = cat
