[include]
    path = .gitconfig.local
[core]
    pager = "lv -c"
    quotepath = false
[alias]
    st = status
    ci = commit
    # c.f. http://qiita.com/daimatz/items/f8c27d37052e2e573504
    # usage: $ git ignore osx linux ruby > .gitignore
    #        $ git ignore help
    ignore = !"f() { local s=$1; shift; \
      while [ $# -gt 0 ]; do s=\"$s,$1\"; shift; done;\
      curl \"https://www.gitignore.io/api/$s\"; }; f"
[diff]
    renames = copies
